{% set timeleft = limit * 60 - ('now'|date('U') - context.order.created|date('U')) %}
{% if timeleft > 0 %}
  <div class="container">
    <div class="clock" style="width: 460px;height: 116px;margin: 0 auto 40px auto;"></div>
    <form action="{{ include.section.shot | shot_url }}" method="POST">
      <input type="hidden" name="name" value="{{ include.section.context.order.customer.name }}" />
      <input type="hidden" name="email" value="{{ include.section.context.order.customer.email }}" />
      <p class="text-center" style="margin-bottom:80px;">
        <button type="submit" class="btn btn-lg btn-primary">Заказать</button>
      </p>
    </form>
  </div>

  <link rel="stylesheet" href="/assets/flipclock/flipclock.css">    
  <script src="/assets/flipclock/flipclock.min.js"></script>
  <script type="text/javascript">
  $(function() {
    var clock = $('.clock').FlipClock({autoStart:false});
    clock.setTime({{ include.section.timeleft }});
    clock.setCountdown(true);
    clock.start();
  })
  </script>
{% endif %}