<header>
  <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/{{ logo }}"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-03">
        <ul class="nav navbar-nav navbar-right">
          {% for item in include.header.menu %}
            {% include ('layout/menuitem.html.twig') with item %}
          {% endfor %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav><!-- /navbar -->
</header>

<style type="text/css">
header .navbar-brand img {
  height: 190px; width: auto;
  margin: 5px;
}
header .navbar-header {
  height: 200px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
header .navbar-brand {
  padding: 0;
  margin: 0;
}
header .navbar-nav {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
header .navbar-nav a {
  font-size: 18px !important;
  padding: 15px 20px !important;
}

header .navbar {
  margin-bottom: 0;
  background-color: #2c3e50;
}
</style>